<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<servlet>
  <servlet-name>UploadQuoteServlet</servlet-name>
  <servlet-class>com.kwotabl.web.UploadQuoteServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UploadQuoteServlet</servlet-name>
  <url-pattern>/upload</url-pattern>  
</servlet-mapping>

<servlet>
  <servlet-name>DownloadQuoteServlet</servlet-name>
  <servlet-class>com.kwotabl.web.DownloadQuoteServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DownloadQuoteServlet</servlet-name>
  <url-pattern>/download</url-pattern>  
</servlet-mapping>


<servlet>
  <servlet-name>LoginSuccessServlet</servlet-name>
  <servlet-class>com.kwotabl.web.LoginSuccessServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LoginSuccessServlet</servlet-name>
  <url-pattern>/loginsuccess</url-pattern>  
</servlet-mapping>

<servlet>
  <servlet-name>GitkitWidgetServlet</servlet-name>
  <servlet-class>com.kwotabl.web.GitkitWidgetServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>GitkitWidgetServlet</servlet-name>
  <url-pattern>/gitkit</url-pattern>  
</servlet-mapping>


  
</web-app>